*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container { 
   width: 800px; 
   margin: 0 auto; 
}

h2{
   color: honeydew;
}

p{
  vertical-align: middle;
  color: honeydew;
}
.icontemp{
   display: flex;
   align-items: center;
}
#icon {
   height: 70px;
   width:  70px;
}
p span{
   font-weight: bold;
   font-size: x-large;
   margin-right: 10px;
   color: #000;
}

#puntuacio {
  display: flex;
  align-items: center;
  padding: 20px;
}

.btn-puntuacio{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

#btn-new-joke{ 
  padding: 15px 32px;
  text-align: center;
  background-color:  honeydew;
  border-bottom-style: solid;
  font-size: 20px;
  color: darkred;
  border-radius: 40%;

}



img{
   height: 850px;
   width: 900px;
}

.my-card div{
   margin-bottom: 40px;
   margin-right: 10px;
}

.my-card div p {
   margin-top: 50px;
}
.btn-puntuacio{
   font-size: 25px;
}
/* ================================== */
.joke{
   position: relative;
   display: inline-block;
   text-align: center;
}
.joke-encima{
   position: absolute;
   top: 10px;
   left: 10px;
}
.joke-centrado{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


   
