*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: floralwhite;
   background-image : url("../img/blob.svg");
}

p{
  vertical-align: middle;
}
div{
   padding: 10px;
}
/*id="h-Climatic" */

#puntuacio {
  display: flex;
  align-items: center;
  padding: 20px;

}
.btn-puntuacio{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

#btn-new-joke{ 
  padding: 15px 32px;
  text-align: center;
}
.my-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: mintcream;
  border-radius: 5%;
  font-size: 30px;
   
}
